src/main/resources/flight-school-schemas/certification-list-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Sun May 12 2019 12:50:58 GMT-0500 (Central Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="CertificationList">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="count" type="xs:int"></xs:element>
                            <xs:element name="next" type="xs:string"></xs:element>
                            <xs:element name="previous" type="xs:string"></xs:element>
                            <xs:element name="results">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="result" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="id" type="xs:int"></xs:element>
                                                                      <xs:element name="name" type="xs:string"></xs:element>
                                                                      <xs:element name="craft_count" type="xs:int"></xs:element>
                                                                      <xs:element name="pilot_count" type="xs:int"></xs:element>
                                                                      <xs:element name="url" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>